/* 全局样式 */
body {
  width: 300px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3, h4 {
  color: #333;
  margin-top: 10px;
}

textarea, input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input {
  height: 30px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px; /* 减少按钮的 padding */
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 按钮组的样式 */
li .button-group {
  display: flex;
  gap: 5px;
}

/* Copy 和 Delete 按钮单独样式 */
li button {
  background-color: #f44336;
  font-size: 12px; /* 减小按钮字体 */
}

li button:hover {
  background-color: #e53935;
  transition: background-color 0.3s;
}

/* 标签标题 */
h4 {
  margin-top: 15px;
  font-weight: bold;
  color: #555;
}
